<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 		 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 		 <%= csrf_meta_tags %>

  </head>

  <body>
  	 <!-- NAVBAR  -->
  		<%= render 'navbar' %>
    <%= yield %>


     <!-- FOOTER -->
    <%= render 'footer' %>
  </body>
</html>
